<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Team's Meet</title>
  <link rel="stylesheet" href="landingpagestyle.css">
  <script src="https://kit.fontawesome.com/325bf6fb9b.js" crossorigin="anonymous"></script>
</head>

<body>
  <h1>Team's Meet</h1>
  <div class="main">
    <div class="main-buttons">
      <span><a class="start-meet" href="/start"></a></span>
    </div>
    <div class="main-images">
      <img  src="https://www.aberdeen.com/wp-content/uploads/GettyImages-1213470229.jpg" alt="Video conferencing image">
    </div>
  </div>


  <div class="footer">
    <h3>Do u have any queries?</h3>
    <p>Please contact us through below social media handles !</p>
    <div class="icons">
      <i class=" trendy-icons fab fa-twitter"></i>
      <i class=" trendy-icons fab fa-facebook"></i>
      <i class=" trendy-icons fab fa-instagram"></i>
      <i class=" trendy-icons fas fa-envelope"></i>
    </div>
  </div>
</body>

</html>
