/* body{
    height:100vh;
}

.main {
    display: flex;
}

.main__left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.main__right {
    flex: 0.2
}

.main__videos {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.main__controls {
    background-color: #1C1E20;
}

.main__right {
    background-color: #242324;
    border-left: 1px solid #3D3D42;
}

.main__controls {
    color: #D2D2D2;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.main__controls__button:hover {
    background-color: #343434;
    border-radius: 5px;
}

.main__controls__button i {
    font-size: 24px;
}

.main__right {
    display: flex;
    flex-direction: column;
}

.main__header {
    padding-top: 5px;
    color: #F5F5F5;
    text-align: center;
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
}

.messages{
    color: white;
    list-style: none;
}

.main__message_container {
    padding: 22px 12px;
    display: flex;
}

.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}



.unmute, .stop {
    color: #CC3B33;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #233f58;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    height: 100vh;
    width:100vw;
    overflow :hidden;
 }

.logo{
    height: 10vh;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.main{
    height:80vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#stopButton{
    display:flex;
    justify-content: center;
    align-items: center;
}
.end_call{
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    padding: 9px;
    margin: 0 3px 0 3px;
    cursor: pointer;
}
.main__controls{
    display: flex;
}

.main__left{
    background-color: #233f58;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__controls{
    background-color: black;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__videos{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
#video-grid{
    display: flex;
  height:100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

video {
    height: 300px;
    width: 400px;
    object-fit: cover;
    padding: 8px;
}

 video {
    height: 350px;
    border-radius: 50%;
  
    width: 350px;
    object-fit: cover;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.options_button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    min-height: 50px;
    border-radius: 50%;
    color: white;
    font-size: 1.2rem;
    min-width: 50px;
    margin: 0 0.5rem;
    cursor: pointer;
}

.plus{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 204, 255);
    height: 50px;
    border-radius: 50%;
    color: white;
    font-size: 1.2rem;
    width: 50px;
  }
  

.color
{
  background-color: white;
  color:black;
}

/* ------------------------------------------------------------------------- */

#chat_message{
    width: 14vw;
}
.main__header{
    height:5vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.main__chat_window {
    height: 65vh;
    /* overflow: scroll; */
    /* flex-grow: 1; */
}
.main__message_container {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-top:0px;
    padding-bottom:25px;
}
.main__message_container > input {
    height: 50px;
    flex: 1;
    border-radius: 5px;
    padding-left: 20px;
    border: none;
}
#chat_message{
    /* border: 2px solid black; */
    background-color: rgba(207, 207, 207, 0.747);
}
  
video {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    /* border: 5px solid rgb(0, 10, 0); */
    
    object-fit: cover;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
  
  

.main__right {
height:80vh;
width:20vw;
background-color: #ffffff;
    border-radius:10px;
display:none;
}

.right{
    display: block;
    position: absolute;
    right: 0px;
    height:80vh;
    width:20vw;
    background-color: #ffffff;
    border-radius:10px;

    transition: all 1s none;

    animation-name: null__display;
    position: relative;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
}
  
  
  @keyframes null__display {
    0% {
      right: -100px;
    }
    100% {
      right: 0px;
    }
  }
  
  .fullDisplay{
    height: 80vh;
    background-color: #233f58;
  }

  .main_area{
      display: flex;
  }